body {
  /* background-image: linear-gradient(135deg, #1e1b2a 60%, #ff009552, #ffcdffa0); */
  background-image: url("../img/BG-login.png");
  background-color: #1c1927;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 386px;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.2px;
  line-height: 120%;
  margin-bottom: 40px;
}

.form {
  display: block;
}

.form__field {
  margin-bottom: 1.5rem;
}

.form__button {
  margin-bottom: 2rem;
}

.field {
  display: block;
}

.field__inner {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.field__label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #eae6ef;
  line-height: 135%;
  margin-bottom: 0.75rem;
}

.field__input {
  background-color: transparent;
  border: 1px solid #3f3b4c;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 56px;
  padding-right: 16px;
  width: 100%;
  height: 48px;
  color: #ffffff;
  outline: none;
  transition-property: background-color color border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.field__input::placeholder {
  color: #90859c;
}

.field__icon {
  position: absolute;
  left: 16px;
  width: 24px;
  height: 24px;
  fill: #3f3b4c;
  transition: fill 0.2s ease;
}

.field__input:hover {
  background-color: #201c2d;
}

.field__input:focus {
  background-color: transparent;
  border-color: #7b14ff;
}

.field__input:focus + .field__icon {
  fill: #7b14ff;
}

.button {
  background-color: #7b14ff;
  border-radius: 8px;
  height: 48px;
  color: white;
  border: none;
  font-weight: 600;
  padding: 0 32px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button--fluid {
  width: 100%;
}

.button:hover {
  background-color: #8647e0;
}

.button:active {
  background-color: #4400a5;
}

.text {
  text-align: center;
  color: #90859c;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 160%;
}

.link {
  color: #90859c;
  text-decoration: underline;
}
